extends layout    

block content
    div.jumbotron
        div.container-fluid
            h1.display-4 Client
                ul.list-group.list-group-flush
                    li.list-group-item 
                        h5 Authorization Code
                        if authorizationCode 
                            h6.token #{authorizationCode}
                        else 
                            h6.error-outline No Authorization Code
                    li.list-group-item 
                        h5 Access Token
                        if accessToken 
                            h6.token #{accessToken}
                        else 
                            h6.error-outline No Access Token
                    li.list-group-item 
                        h5 Refresh Token
                        if refreshToken 
                            h6.token #{refreshToken}
                        else 
                            h6.error-outline No Refresh Token
                    li.list-group-item
                        h4 Protected Resource
                        if protectedResource                        
                            h6 SSN: #{protectedResource}
                p
                    // a.btn.btn-primary.mr-5(href="/alive")  One Click
                    a.btn.btn-primary.mr-3(href="/authorize") Get Token
                    // TODO: Thou shalt not pass tokens/codes/secrets as a query parameters
                    // https://owasp.org/www-community/vulnerabilities/Information_exposure_through_query_strings_in_url
                    a.btn.btn-primary(href=`/getResource?accessToken=${accessToken}`) Get Protected Resource